<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MakerSuite" allow-return-values="true" parallel="tests">

    <test name="CucumberNGC" enabled="true">

        <parameter name="browser" value="FIREFOX"/>
        <parameter name="browser" value="CHROME"/>
        <classes>
            <!--
             <class name="Steps.tutor.SeleninumGridTest"/>
            <class name="Steps.tutor.DdtDataProviderSimpleSteps"/>
            -->
            <class name="Steps.runAsNGTest"/>


        </classes>

    </test>

</suite>